.items {
  margin: 5px 0;
  padding: 6px;
  border: 1px solid;
  border-radius: 4px;
  position: relative;
}

.individual-sorted-item {
  position: relative;
}

.individual-sorted-item::before {
  content: '-';
}

.asp::after {
  display: inline;
  content: 'ASP: OFF';
  padding: 0 3px;
  margin-right: 4px;
  border: 1px solid black;
}

.mlh::after {
  display: inline;
  content: 'MLH: ON';
  padding: 0 3px;
  margin-right: 4px;
  border: 1px solid black;
}

.shading-box {
  border: 4px solid lightblue;
  padding: 3 3px;
}

.previous-sundown {
  margin-right: 20px;
  position: absolute;
  top: -26px;
}

.previous-sundown:after {
  font-size: 50px;
  content: '•';
}

.sundown-spacer {
  margin-right: 22px;
}
