.filter-chooser {
  margin: 20px 0;
}

.filter-chooser .active {
  text-decoration: underline;
  font-weight: bold;
}

.individual-event-block {
  position: relative;
  border: 1px solid #000;
  border-radius: 4px;
}

.deleteButton {
  float: right;
}
