.founder-image {
  width: 166%;
}

.center-container {
  position: relative;
  width: 80%;
  margin: 26px auto;
  background-color: lightblue;
}

.inner-title {
  position: relative;
  margin: 19px 79px 0 9px;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

.inner-upper {
  position: relative;
  margin: 41px 79px 0px 9px;
  font-weight: bold;
}

.inner-lower {
  position: relative;
  margin: 50px 81px 38px 9px;
}

.inner-lower img {
  width: 100%;
}
