.nav-link {
  background-color: #ddd;
}

.items {
  margin: 5px 0;
  padding: 6px;
  border: 1px solid;
  border-radius: 4px;
  position: relative;
}

.individual-sorted-item {
  position: relative;
}

.individual-sorted-item::before {
  /*content: '-';*/
}

.individual-item-svg {
  width: 21px;
  height: auto;
  margin: 0 15px 2px 3px;
}

.individual-item-badge {
  margin: 0 15px 2px 3px;
}

.asp::after {
  display: inline;
  content: 'ASP: OFF';
  padding: 0 3px;
  border: 2px solid black;
}

.mlh::after {
  display: inline;
  content: 'MLH: ON';
  padding: 0 3px;
  border: 2px solid black;
}

.shading-box {
  border: 2px solid black;
  padding: 0 5px;
}

.previous-sundown {
  margin-right: 20px;
  position: absolute;
  top: -25px;
}

.previous-sundown:after {
  font-size: 50px;
  content: '•';
}

.sundown-spacer {
  margin-right: 22px;
}
